pre { 
    white-space: pre-wrap; 
}

.status-light {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: .25rem;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.7) inset,
              0 0 6px 2px rgba(0,0,0,0.08);
}

.status-green {
  background: #28a745;
  box-shadow:
    0 0 0 2px rgba(255,255,255,0.7) inset,
    0 0 8px 2px rgba(40,167,69,0.6);
}